body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:white;
   
}

#formulario {
    height: 300px;
    width: 250px;
    border: 2px solid white;
    background-color: #ddd;
}